{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel X</title>
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"
        integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm"
        crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>

<body class="">
    <header class="">
        <nav
            class="fixed top-0 p-2 w-full backdrop-blur-xl dark:after:pointer-events-none dark:after:absolute dark:after:inset-x-0 dark:after:bottom-0 dark:after:h-px dark:after:bg-white/10">
            <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
                <div class="relative flex h-16 items-center justify-between">
                    <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                        <!-- Mobile menu button-->
                        <button type="button" command="--toggle" commandfor="mobile-menu"
                            class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-white/5 hover:text-white focus:outline-2 focus:-outline-offset-1 focus:outline-indigo-500">
                            <span class="absolute -inset-0.5"></span>
                            <span class="sr-only">Open main menu</span>
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                                data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
                                <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                                data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
                                <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                    <div class="flex flex-1 items-center ml-10">
                        <div class="flex shrink-0 items-center">
                            <img src="{% static 'images/logo.png' %}" alt="Your Company" class="w-40" />
                        </div>
                        <div class="hidden sm:ml-6 sm:block">
                            <div class="flex space-x-4">
                                <a href="/" aria-current="page" class="rounded-md ">Home</a>
                                <a href="/bookings/" class="">Bookings</a>
                                <a href="/travels/" class="">Travel Options</a>
                            </div>
                        </div>
                    </div>
                    <div
                        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                        <!-- Profile dropdown -->
                        {% if user.is_authenticated %}
                        <el-dropdown class="relative ml-3">
                            <button
                                class="relative flex rounded-full focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
                                <span class="absolute -inset-1.5"></span>
                                <span class="sr-only">Open user menu</span>
                                <img src="https://cdn-icons-png.flaticon.com/512/7381/7381253.png" alt=""
                                    class="size-10 cursor-pointer rounded-full" />
                            </button>
                            <el-menu anchor="bottom end"
                                class="px-6 origin-top-right absolute p-4 rounded-md shadow-2xl">
                                
                                <a href="/user/logout" class="block hover:text-purple-500">Sign
                                    out</a>
                                
                            </el-menu>
                        </el-dropdown>
                        {% else %}
                        <a href="/user/auth">
                            <div class="auth_btn">
                                Log In
                            </div>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <el-disclosure id="mobile-menu" hidden class="flex flex-col sm:hidden">
                <div class="flex flex-col gap-2 p-4">
                    <a href="/" aria-current="page" class="rounded-md ">Home</a>
                    <a href="/bookings/" class="">Bookings</a>
                    <a href="/travels/" class="">Travel Options</a>
                </div>
            </el-disclosure>
        </nav>
    </header>
    <div class="mt-20">
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>